<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 th:text="'hello GetParameter'"></h1>

    <a th:href="@{/test1?data1=100&data2=200&data3=300}">HttpServletRequest test1</a><br/>
    <a th:href="@{/test2?data1=100&data2=200&data3=300&data3=400}">test2</a><br/>
    <a th:href="@{/test3?data1=400&data2=300&data3=200&data3=100}">WebRequest test3</a><br/>
    <a th:href="@{/test4/10/20/30}">@PathVariable test4</a><br/>
    <a th:href="@{/test5?data1=100&data2=200&data3=300&data3=400}">@RequestParam  test5</a><br/>
    <a th:href="@{/test5?data1=100&data2=200&data3=300&data3=400}">@RequestParam  test5</a><br/>
    <a th:href="@{/test6?data1=100&data2=200&data3=300}">@ModelAttribute  test6</a><br/>

</body>
</html>